---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="O mně"
	description="Pár slov o mně"
	pubDate={new Date('August 1 2025')}
>
	<p>
		Jmenuji se Lukáš a na tomto webu vystupuji pod přezdívkou Luren.
        Mojí snad nejoblíbenější činností je poznávání světa. 
		<h3>Technologie</h3>
        Rád si hraji s počítači; učím se programovat – z veřejných projektů bych vyzdvihl webovou aplikaci rešol, alternativní prostředí pro školní systém, které jsme vytvořili s mými spolužáky. Také tvořím hry.
        <h3>Ostatní koníčky...</h3>
        Miluji hudbu – její poslech i tvorbu. V oblibě mám tvrdší hudbu, např. System Of A Down, rock – např. Beatles, Pink Floyd, Radiohead, The Doors nebo český folk. Hraji na akustickou a elektrickou kytaru. 
		Také kreslím (nejlépe tužkou) na papír a občas i digitálně. Baví mě točit filmy a nahrávat hudbu. Mezi můj nejlépe strávený čas zařazuji čundrování v lese. Mám rád fantasy žánr a s ním věci spojené: dračák, videohry, knížky.
	</p>

</Layout>
