---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Videos from '../components/Videos.astro';
import Projects from '../components/Projects.astro';
import Gallery from '../components/Gallery.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="container">
				<Projects />
				<Videos />
				<Gallery/>
			  </div>
		</main>
		<Footer />
	</body>
</html>
