---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Vítejte na mém webu.</h1>
			<h1>Odkazy</h1>
				<a href="https://matrix.to/@grreby:matrix.org#/@grreby:matrix.org" target="_blank">Matrix</a>
				<a href="https://codeberg.org/luren">Codeberg</a>
				<a href="https://github.com/Grreby">Github</a>
				<a href="https://gitlab.com/Grreby">GitLab</a>
		</main>
		<Footer />
	</body>
</html>
